---
import BaseSimple from "@layouts/BaseSimple.astro";
import Page from "@layouts/Page.astro";
---

<BaseSimple meta_title="Me soutenir">
  <Page title="Me soutenir">

    <h2>Pourquoi ?</h2>
    <p>Si vous trouvez mes publications intéressantes, n'hésitez pas à me soutenir. Je pense que vous vous en doutez, mais tenir un blog avec du contenu prend énormément de temps, même si je le fais avec plaisir. </p>
    <p>De plus mon blog est sans pub affreuse qui s'affiche à tout bout de champ, les liens affiliés sont discrets et non affichés comme un placard toutes les trois lignes rendant la lecture indigeste. Je ne vous traque pas avec les cookies, c'est pour cela que vous n'avais pas de bandeau à valider en permanence. </p>
    <p>J'aide aussi pas mal de personne en MP sur les différents groupes Facebook.</p>
    <p>Pour tout ça, si vous souhaitez me soutenir, vous avez plusieurs moyens :</p>
    <ul>
      <li>Les liens affiliés
        <ul>
          <li>Mon matériel</li>
          <li>Domadoo</li>
          <li>Amazon</li>
          <li>Aliexpress</li>
        </ul>
      </li>
      <li>Un don
        <ul>
          <li>Paypal</li>
          <li>????</li>
        </ul>
      </li>
    </ul>
    <h3>Liens affiliés</h3>
    <p>Les liens affiliés sont un moyen de me soutenir sans que cela vous coute plus cher. C'est le commerçant qui me restitue un pourcentage (entre 3 et 7 %) de votre panier. Vous pouvez donc les consommer sans modération pour ceux étant déjà dans les articles et pour de nouveau lien, je vous propose mon générateur. Il vous suffit de coller votre lien et il vous donnera un lien affilié.</p>
    <p>Vous pouvez utiliser ces générateurs pour tous vos achats et pas seulement domotique.</p>
    <p>GENERATEUR LIEN DOMADOO</p>
    <p>GENERATEUR LIEN AMAZON</p>
    <p>GENERATEUR LIEN ALIEXPRESS</p>
    
    <h3>Dons</h3>
    <p>Si vous souhaitez me faire un don, vous avez à votre disposition deux moyens :</p>
    
    <p>PayPal et ????</p>
    <p>Je tiens à préciser qu'il n'y a pas de petit don ou de don ridicule, un don de 1€ est un don.</p>
    <p>Alors n'hésitez pas.</p>
    
    <h3>Liste de mon matériel</h3>
    <p>J'ai mis en place une liste de mon matériel et son intégration dans Home Assistant et Gladys Assistant avec en plus le lien vers l'article qui en parle ou l'intégration nécessaire. Cette liste sera complétée au fur et à mesure.</p>
    
    <p><strong>IMPORTANT :</strong> L'argent qui sera récupéré sera entièrement investi dans du matériel pour des articles. Je serais transparent là-dessus.</p>
    
  </Page>
</BaseSimple>
